.button {
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 14px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}

.button_primary {
    color: var(--white);
    border-color: var(--blue);
    background-color: var(--blue);
    border-style: none;
}

.button_primary:hover {
    background-color: #2342C0;
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.button_secondary {
    color: white;
    border-color: var(--purple);
    background-color: var(--purple);
    border-style: none;
}
.button_secondary:hover {
    background-color: #5028C6;
}

.button_alternate {
    color: var(--grey-4);
    border: 1px solid #ACB5BD;
    background-color: white;
}

.button_alternate:hover {
    border: 1px solid #212429;
}

