/* Стилизация аккордеона */
.accordion__summery {
    height: auto;
    width: 730px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
}

.summary_marker {
    font-size: 16px;
    line-height: 24px;
}

.summary_marker:first-of-type {
    list-style: none;
}

.accordion__item {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--grey-4);
    line-height: 24px;
}


.accordion__item:last-child {
    margin-bottom: 0;
}