.skeleton {
    max-width: 50%;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 24px;
}

.skeleton__header {
    display: flex;
    width: 100%;
}

.skeleton__circle {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: var(--grey-2);
}

.skeleton__line1 {
    background: var(--grey-gradient);
    height: 20px;
    width: 50%;
}

.skeleton__line2 {
    background: var(--grey-gradient);
    height: 20px;
    width: 70%;
}

.skeleton__lines {
    display: flex;
    flex-direction: column; 
    margin-left: 16px;
    flex-grow: 1;
    justify-content: space-evenly;
}

.skeleton__footer {
    margin-top: 24px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

.skeleton__line3 {
    background: var(--grey-gradient);
    height: 20px;
    width: 100%;
}
